# Dependencies
node_modules/

# Build output
dist/
out-tsc/
build/

# Angular cache
.angular/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# Environment files (importante si usas variables secretas)
.env

# Editor folders
.vscode/
.idea/