<h2>Registro de Mascota</h2>

<form [formGroup]="mascotaForm" (ngSubmit)="guardar()">

  <p>
    <label>Nombre:</label><br>
    <input type="text" formControlName="nombre">
  </p>

  <p>
    <label>Especie:</label><br>
    <input type="text" formControlName="especie">
  </p>

  <p>
    <label>Raza:</label><br>
    <input type="text" formControlName="raza">
  </p>

  <p>
    <label>Edad:</label><br>
    <input type="number" formControlName="edad">
  </p>

  <p>
    <label>Propietario:</label><br>
    <input type="text" formControlName="propietario">
  </p>

  <button type="submit">
    Registrar Mascota
  </button>

</form>