<h2>Agenda de Citas</h2>

<form [formGroup]="citaForm" (ngSubmit)="guardar()">

  <p>
    <label>Mascota:</label><br>
    <input type="text" formControlName="mascota">

    <span *ngIf="citaForm.get('mascota')?.invalid && citaForm.get('mascota')?.touched">
      <small style="color:red; display:block;">
        La mascota es obligatoria
      </small>
    </span>
  </p>

  <p>
    <label>Fecha:</label><br>
    <input type="date" 
    formControlName="fecha" 
    [min]="fechaMinima"
    [max]="fechaMaxima">

    <span *ngIf="citaForm.get('fecha')?.invalid && citaForm.get('fecha')?.touched">
      <small style="color:red; display:block;">
        La fecha es obligatoria
      </small>
       <span *ngIf="citaForm.get('fecha')?.value && citaForm.get('fecha')?.value > fechaMaxima">
    <small style="color:red; display:block;">
      Solo se permiten citas hasta 7 días después de la fecha actual
    </small>
  </span>
    </span>
  </p>

  <p>
    <label>Hora:</label><br>
    <input type="time" formControlName="hora">

    <span *ngIf="citaForm.get('hora')?.invalid && citaForm.get('hora')?.touched">
      <small style="color:red; display:block;">
        La hora es obligatoria
      </small>
    </span>
  </p>

  <p>
    <label>Motivo:</label><br>
    <textarea formControlName="motivo"></textarea>

    <span *ngIf="citaForm.get('motivo')?.invalid && citaForm.get('motivo')?.touched">
      <small style="color:red; display:block;">
        El motivo es obligatorio
      </small>
    </span>
  </p>

  <p>
    <label>Veterinario:</label><br>
    <select formControlName="veterinario">
      <option value="">Seleccione</option>
      <option>Dr. Pérez</option>
      <option>Dra. Gómez</option>
      <option>Dr. Torres</option>
    </select>

    <span *ngIf="citaForm.get('veterinario')?.invalid && citaForm.get('veterinario')?.touched">
      <small style="color:red; display:block;">
        Debe seleccionar un veterinario
      </small>
    </span>
  </p>

  <button type="submit">
    Registrar Cita
  </button>

</form>